<div class="tech-panel">
  <a class="tech-panel" href=" <%= technology_path(technology) %> ">
    <% if technology.icon.attached? %>
    <%= image_tag technology.icon, class: 'tech-icon' %>
    <% else %>
    <%= image_tag 'no-photo.jpg', class: 'tech-icon' %>
    <% end %>
    <div class="tech-info">
      <h2 class="tech-name"> <%= technology.title %> </h2>
      <p class="tech-description"> <%= technology.discription %> </p>
      <div class="score-container">
        <div class="views-block">
          <%= image_tag 'view.png' %> <%= technology.views %>
        </div>
        <div class="rating-block">
          <% if technology.average_mark %>
            <%= image_tag 'star.jpg' %> <%= technology.average_mark %>
          <% else %>
            <%= image_tag 'star.jpg' %> no votes
          <% end %>
        </div>
      </div>
    </div>
  </a>
  <% if current_user.admin? %>
    <%= render 'admin_ui', technology: technology %>
  <% end %>
</div>
