<div class="tech-panel">
  <%= image_tag technology.icon, class: 'tech-icon' if technology.icon.attached? %>
  <div class="tech-info">
    <h2 class="tech-name"><%=technology.title %></h2>
    <p class="tech-description"><%=technology.discription %></p>
  </div>
  <div class="contr-links">
    <%=link_to 'edit', edit_technology_path(technology) %>
    <%=link_to 'show', technology_path(technology) %>
    <%=link_to 'delete', method: 'destroy', id: @technology %>
  </div>
</div>