<div class="container">
  <div class="tech-title">
    <% if @technology.icon.attached? %>
      <%= image_tag @technology
                        .icon
                        .preview(resize_to_limit: [50, 50]),
                    class: 'tech-icon' %>
    <% else %>
      <%= image_tag 'no-photo.jpg', class: 'tech-icon' %>
    <% end %>
    <h2 class="tech-name"><%= @technology.title %></h2>
  </div>
  <p class="tech-description"><%= @technology.discription %></p>
  <div class="tech-themes">
    <% @technology.tests.each do |test| %>
      <%= link_to test.title, test_start_path(@technology, test), method: :post %>
    <% end %>
  </div>
</div>
