<div class="container">
  <div class="tech-title">
    <% if @technology.icon.attached? %>
      <%= image_tag @technology
                        .icon
                        .preview(resize_to_limit: [50, 50]),
                    class: 'tech-icon' %>
    <% else %>
      <%= image_tag 'no-photo.jpg', class: 'tech-icon' %>
    <% end %>
    <h2 class="tech-name"><%= @technology.title %></h2>
  </div>
  <p class="tech-description"><%= @technology.discription %></p>
  <h1>ALL THEMES</h1>
  <div class="tech-themes">
    <% @technology.tests.each_with_index do |test, index| %>
      <div class="theme">
        <%= index + 1 %>.
        <%= link_to test.title, technology_test_path(@technology, test) %>
      </div>
    <% end %>
  </div>
</div>
