<!DOCTYPE html>
<html>
  <head>
    <title>KnowledgeTracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application.css', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class="header">
    <div class="header-container">
      <h1><a href="/">TECHNOLOGIES</a></h1>
      <%= render 'search' %>
      <div class="user-controls" onclick="toggle_user_menu();">
        <div class="user-avatar-preview">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar %>
          <% else %>
          <%= image_tag 'no-photo.jpg' %>
          <% end %>
        </div>
        <div class="user-control">
          <div class="user-name"><%= current_user.username %></div>
          <div class="user-menu">
            <%= link_to 'profile', '/profile' %>
            <%= link_to 'sing out', destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%= yield %>

  </body>
</html>
